<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Video Analysis System</title>
    </head>
    <body>
        <div align="center">
            <h1>Simple Video Analysis</h1>
            <p>Shuokang Huang, Peking University, October 25, 2020</p>
            <a href="{{url_for('app_origin', var_name=var_name)}}">Original Video</a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="{{url_for('app_detect', var_name=var_name)}}">Target Detection</a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="{{url_for('app_extract', var_name=var_name)}}">Audio Extraction</a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="{{url_for('app_restart', var_name=var_name)}}">Restart</a>
            <br>
            <br>
            <video width="1280" height="720" controls="controls">
                <source src="{{var_render_path}}" type="video/mp4" />
            </video>
        </div>
    </body>
</html>